<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb544892621208842</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>TiltCryptic FlopEthereal collects gameplay data to enhance user experience, improve game mechanics, and provide performance insights. Data is used to track progress, optimize challenges, and refine features. No personal information is shared or sold.</string>
	<key>FacebookAppID</key>
	<string>544892621208842</string>
	<key>FacebookClientToken</key>
	<string>d01bfe2104aac21266c4a7a11dba7050</string>
	<key>FacebookDisplayName</key>
	<string>TiltCryptic FlopEthereal</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
</dict>
</plist>
